{
    "presets": [
        [
        "es2015",
        {
            "modules": false
        }
        ],
        "stage-2"
    ],
    "plugins": [
        "external-helpers",
        "transform-runtime",
        "transform-class-properties"
    ]
}